.searchContainer {
    /* padding: 20px; */
    /* max-width: 800px; */
    margin: 0 auto;
  }
  
  .searchBar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.search{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 800px;
    justify-content: space-between;
}

  .frame {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
}

.frameText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    color: white;
    z-index: 1;
}
  
  .searchBar select,
  .searchBar .searchButton {
    padding: 10px;
    font-size: 16px;
    border: 1px solid;
  }
  
  .searchButton {
    background-color: #27d971;
    color: #fff;
    /* border: none; */
    cursor: pointer;
  }
  
  .searchResults {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchInput {
    /* flex-grow: 1; */
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  

  .courseList {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .courseCard {
    max-width: 800px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .courseCard img {
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .courseInfo {
    text-align: start;
    display: flex;
  }
  
   .courseInfo h2 {
    margin: 0;
  }
  
  /*.courseInfo p {
    margin: 5px 0;
  } */
  
  .additionalInfo {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10px;
  }
  
  /* .additionalInfo > div {
    display: flex;
    align-items: center;
  }
   */
  .additionalInfo .rating,
  .additionalInfo .feedback {
    margin-right: 10px;
  }
  
  .courseActions {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .courseIf {
    display: flex;
    flex-direction: column;
    /* flex: 1; */
  }
  
  .enrollButton,
  .detailsButton {
    font-size: 14px;
    width: 120px;
    height: 38px;
    cursor: pointer;
  }
  
  .enrollButton {
    background-color: #27d971;
    color: #fff;
    border: none;
    margin-bottom: 10px;
  }
  
  .detailsButton {
    background-color: #fff;
    color: black;
    border: none;
    border: 2px solid #ccc;
    transition: 0.5s;
  }


  .detailsButton:hover{
    background-color: #ddd; /* Darker shade of blue */
    transform: scale(1.05); /* Slightly enlarge the button */
    border: 2px solid #ccc;

  }
  