/* HomePage.module.css */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; */
}

.container {
    position: relative;
}

.frameContainer {
    position: relative;
    text-align: center;
}

.frame {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.frameText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}

.highlight {
    color: #28a745;
}

.searchBar {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 695px;
}

.searchBar select, .searchBar button {
    padding: 10px;
    font-size: 20px;
    border: none;
    margin-right: 20px;
    background-color: white;
}

.searchBar button {
    font-size: 20px;
    background: #27d971;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.searchBar button:hover {
    background: #218838;
}

.sortBar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sortBar select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.courseList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.courseCard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.courseCard img {
    width: 100%;
    height: auto;
}

.courseInfo {
    padding: 15px;
    text-align: start;
}

.courseInfo h2 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.courseInfo p {
    margin: 10px 0;
    color: #555;
}

.additionalInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.rating, 
.followers {
    color: #28a745;
    font-weight: bold;
}

.location {
    color: black;
}

.loadMore {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.loadMore:hover {
    background-color: #218838;
}
